.fill-remaining-space {
    flex: 1 1 auto;
}
a {
    text-decoration: none;
    font-size: 24px;
    padding: 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    color: white !important;
}

a:hover {
    background-color: #949BD1;
}