.fill-remaining-space {
    flex: 1 1 auto;
}

.search-form-field {
    width: 200px;
}

::ng-deep .search-form-field .mat-input-underline{
    border-bottom: 1px solid white !important;
}

::ng-deep .search-form-field.mat-focused .mat-form-field-underline .mat-form-field-ripple {
    background-color: white !important;
}

::ng-deep .search-form-field input {
    caret-color: white;
}